<h1>Este es tu producto</h1>
<p><%= @product.name %></p>
<p><%= @product.price %></p>
<p><%= @product.description %></p>
<p><%= link_to 'Editar', edit_product_path(@product) %></p>
<p><%= link_to 'Volver', root_path %></p>